$black : #000000;
$white : #FFFFEE;
$gray1 : #f3f3f3;
$gray2 : #CCCCCC;
$gray3 : #878787;
$gray4 : #2b354f;

$text : #06071A;

$main-color : #e87b1c;
$secondary-color : #00cb71;

$success: #46D600;
$error: #F13B0A;

$size1 : 14px;

$radius : 8px;

$space1 : 20px;